@keyframes linkedinIcon {
  from {margin-left:100%;
  width:300%;}
  to{margin-left:100%;
  width:100%;}
}
  
  /* The element to apply the animation to */
  .div {
    width: 50px;
    height: 50px;
    background-color: red;
    animation-name: likedinIcon;
    animation-duration: 4s;
    animation-iteration-count: infinite;    
  } 
